# discord bot token
token=
# gateway configuration
shard_count=
shards_per_worker=
# an array of "dev" ids for your bot
dev_ids=
# wether or not you want to register commands
register_commands=
# supabase credentials
supabase_url=
supabase_api_key=
# redis credentials
redis_username=
redis_password=
redis_host=
redis_port=
# API keys
eleven_labs_api_key=
tolgchu_twitter_api_key=
azure_api_key=
ocr_api_key=
